<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&family=Nunito+Sans&family=Poppins&display=swap" rel="stylesheet">
                                                                                             //ใช้ cdn จาก bootstrap และ font จาก google
    <link rel="stylesheet" href="styles/style.css">                                          //link stylesheet ไปที่ fe/img/styles/style.css

    <title><%-title%></title>                                                                       //ทำให้แสดง title ตาม value ที่ส่งมาจาก routerFE
</head>
<body>
    <%- include('../partials/fe/navbar.ejs')%>                                                      //นำ navbar มาแสดง
    <%- body %>                                                                                     //กำหนดให้ส่วนนี้เป็น body ของ index.ejs กับ about.ejs คั่น navbar กับ footer
    <%- include('../partials/fe/footer.ejs')%>                                                      //นำ footer มาแสดง

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" crossorigin="anonymous"></script>    //เนื่องจากเป็น bootstrap4 ต้องประกาศเอา jquery มาใช้

</body>
</html>